.logo-linkat {
    font-family: "jua";
}

.logo-linkat .title {
    font-size: 5rem;
}

.logo-linkat .subtitle {
    font-size: 2rem;
}

.logo-linkat-lin {
    color: #FDF4E5;
}

.logo-linkat-kat {
    color: #F6B980;
}































